<h1><%= "Вопросы теста #{@test.title}" %></h1>

<table>
  <tr>
    <th>Текст вопроса</th>
    <th colspan='3'>Действия с вопросом</th>
  </tr>

  <%= render @questions %>

</table>

<p>
  <%= link_to 'Новый вопрос', new_test_question_path(@test) %>
</p>
