<div class="row justify-content-center mt-3">
  <h1><%= t('.header') %></h1>
    <table class="table">
        <tr>
          <th scope="col"><%= Badge.human_attribute_name('title') %></th>
          <th scope="col"><%= Badge.human_attribute_name('picture') %></th>
        </tr>
      <%= render @badges %>
    </table>
  </div>
</div>
