<tr>
  <td><%= gist.creator_email %></td><br>
  <td><%= gist.question_body %></td><br>
  <td><%= link_to gist.gist_url, gist.gist_url.html_safe, target: '_blank', rel: 'nofollow', rel: 'nofollow'%></td><br>

</tr>
