<h1> Тест <%= @test_passage.test.title %> завершён!</h1>

<p><%= link_to 'Назад к списку тестов', tests_path %></p>

<p><%= "Количество правильных ответов: #{@test_passage.correct_questions}" %></p>
<p><%= "Дано #{@test_passage.correct_percentage}% правильных ответов" %></p>
<% if @test_passage.correct_percentage >= 85 %>
<p style="color: green;">Тест пройден успешно!</p>
<% else %>
<p style="color: red;">Вы не прошли тест.</p>
<% end %>
