<p>
  <%= current_year %><br>
  Автор: Рамзан Берсанов <br>
  <%= github_url("TestGuru", "RamzanBersanov", "testguru") %><br>
  Задание, посвященное изучению основ Rails, -
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica ',
              "https://thinknetica.com/", target: "_blank",
              rel: "nofollow", rel: "nofollow" %><br>
</p>
