<%= link_to "ТестГуру", tests_path %>

<% if user_signed_in? %>
    <p class="nav user">Добро пожаловать, <%= current_user.name %></b>Гуру!</p>
    <%= link_to "Выйти из аккаунта", destroy_user_session_path,  method: :delete %>

<% end %>
