<tr>
  <td class="align-middle">
    <%# <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %> %>
    <%= render 'form_inline', question: question == @question ? @question : question %>
  </td><br>
  <td class="align-middle"><%= question.answers.count %></td><br>
</tr>
