.result {
  &.success {
    color: green;
  }
  &.fail {
    color: red;
  }
}

.progress-bar {
  width: 100%;
  background: #ddd;
}

.progress-percent {
  height: 20px;
  background-color: green;
}

