<nav class="navbar navbar-light bg-light">
  <%= link_to "ТестГуру", tests_path, class: 'navbar-brand' %>

  <span class="navbar-text">Панель Администратора 
    Добро пожаловать, <b class="nav user-email"><%= current_user.name %></b> Гуру! |
    <%= link_to "Выйти из аккаунта", destroy_user_session_path,  method: :delete %>
  </span>
</nav>
