<p>
  <%= current_year %><br>
  Автор: Рамзан Берсанов <br>
  <%= link_to 'TestGuru', github_url("RamzanBersanov", "testguru") %><br>
  Задание, посвященное изучению основ Rails, -
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica ', "https://thinknetica.com/" %><br>
</p>
